.purple {
  background-color: #D4ACEE;
}

.red {
  background-color: #ACC6EE;
}

.orange {
  background-color: #EEC6AC;
}

.yellow {
  background-color: #EDEEAC;
}

.green {
  background-color: #B3EEAC;
}

.blue {
  background-color: #ACDBEE;
}

.box {
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
}

.pbox {
  height: 40px;
  border-style: solid;
  border-width: 1px;
}

.selected {
  border-width: 5px;
}
